:root {
   /* Colors */
   --bg-light:  rgba(208, 231, 210, 0.57);
   --bg-dark: rgba(50, 74, 52, 0.57);

   --primary-dark: #618264;
   --primary-light: #79AC78;
   --secondary:#D0E7D2; 
}

* {
   margin: 0;
   box-sizing: border-box;
}