@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

:root {
    /* Colors */
    --bg-light: rgba(208, 231, 210, 0.27);
    --bg-dark: rgba(6, 15, 7, 0.492);
    --primary-dark: #618264;
    --primary-light: #79ac78;
    --primary-transparent: #79ac7845;
    --secondary: #d0e7d2;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    font-family: Inter, sans-serif;
    color: var(--primary-dark);
    filter: hue-rotate(350deg);

    /* Low resolution tablets and large mobile 480px to 768px*/
    @media screen and (min-width: 480px) {
        font-size: 1.1rem;
    }

    /* High resolution tablets and small laptops 768px to 1024px*/
    @media screen and (min-width: 768px) {
        font-size: 1.3rem;
    } /* 768px */

    /* Laptop and desktop 1024px to 2560px*/
    @media screen and (min-width: 1024px) {
        font-size: 1.1rem;
    } /* 1024px */
}

main {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -400px;
    height: 100vh;
    width: 100vw;
    display: flex;

    

    /* High resolution tablets and small laptops 768px to 1024px*/
    @media screen and (min-width: 768px) {
        background-position: -200px;
        justify-content: center;
        padding: 2rem;
        &::before {
            background-image: linear-gradient(var(--bg-light), var(--bg-dark));
            height: 100vh;
            width: 100%;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
        }
    } /* 768px */

    /* Laptop and desktop 1024px to 2560px*/
    @media screen and (min-width: 1024px) {
        background-position: 0;
        padding: 4rem;
    } /* 1024px */
}

.overlay-container {
    background-image: linear-gradient(var(--bg-light), var(--bg-dark));
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;
    justify-content: space-between;
    width: 100%;

    /* High resolution tablets and small laptops 768px to 1024px*/
    @media screen and (min-width: 768px) {
        z-index: 1;
        border-radius: 10px;
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    } /* 768px */

    /* Laptop and desktop 1024px to 2560px*/
    @media screen and (min-width: 1024px) {
        padding: 3rem;
    } /* 1024px */
}

.title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Laptop and desktop 1024px to 2560px*/
    @media screen and (min-width: 1024px) {
        align-self: flex-start;
        position: absolute;
        align-self: flex-start;
        align-items: flex-start;
    } /* 1024px */
}

.outer-circle {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    /* Low resolution tablets and large mobile 480px to 768px*/
    @media screen and (min-width: 480px) {
        height: 320px;
        width: 320px;
    } /* 480px */

    /* High resolution tablets and small laptops 768px to 1024px*/
    @media screen and (min-width: 768px) {
        height: 350px;
        width: 350px;
    } /* 768px */

    /* Laptop and desktop 1024px to 2560px*/
    @media screen and (min-width: 1024px) {
        height: 200px;
        width: 200px;
    } /* 1024px */
}

.inner-circle {
    width: 100%;
    height: 100%;
    background-image: conic-gradient(
        var(--primary-light) 0deg,
        var(--secondary) 0deg
    );
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.picture {
    height: 94%;
    width: 94%;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    border: 5px solid #fff;
}

.time-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    /* Laptop and desktop 1024px to 2560px*/
    @media screen and (min-width: 1024px) {
        width: 60%;
        /* justify-content: center; */
        gap: 2%;
    } /* 1024px */

    & .time-hand-card {
        position: relative;
        width: 4em;
        height: 4em;

        background-color: var(--secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

        /* Low resolution tablets and large mobile 480px to 768px*/
        @media screen and (min-width: 480px) {
            width: 5em;
            height: 5em;
        } /* 480px */

        /* High resolution tablets and small laptops 768px to 1024px*/
        @media screen and (min-width: 768px) {
            width: 6em;
            height: 6em;
        } /* 768px */

        /* Laptop and desktop 1024px to 2560px*/
        @media screen and (min-width: 1024px) {
            width: 8em;
            height: 8em;
        } /* 1024px */
    }
}

& .time-hand-label {
    position: absolute;
    bottom: 0;
    font-size: 0.7rem;
    color: var(--primary-light);

    /*High resolution tablets and small laptops 768px to 1024px*/
    @media screen and (min-width: 768px) {
        font-size: 0.9rem;
    } /* 768px */

    /* Laptop and desktop 1024px to 2560px*/
    @media screen and (min-width: 1024px) {
        font-size: 0.9rem;
    } /* 1024px */
}

& .time-hand-time {
    font-size: 2.5rem;

    /* High resolution tablets and small laptops 768px to 1024px*/
    @media screen and (min-width: 768px) {
        font-size: 3.5rem;
    } /* 768px */

    /* Laptop and desktop 1024px to 2560px*/
    @media screen and (min-width: 1024px) {
        font-size: 4.5rem;
    } /* 1024px */
}

& .time-hand-divider {
    align-self: center;
    margin: auto;
    height: fit-content;
    ;
    
}

.message-container {
    background-color: var(--primary-transparent);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    /* Laptop and desktop 1024px to 2560px*/
    @media screen and (min-width: 1024px) {
        width: 60%;
    } /* 1024px */

    & .message {
        color: #fff;
        font-size: 1.1rem;

        /* High resolution tablets and small laptops 768px to 1024px*/
        @media screen and (min-width: 768px) {
            font-size: 1.3rem;
        } /* 768px */
    }
}


.wish-me-btn {
        width: 12rem;
        height: 3rem;
        border-radius: 40px;
        border: none;
        background-image: linear-gradient(
            to right,
            var(--secondary) 85%,
            var(--primary-light) 50%
        );
        color: var(--primary-dark);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-weight: 600;
        transition: filter, 0.2s ease-in-out;
        text-align: center;

        &:hover {
            cursor: pointer;
            filter: brightness(1.1);
        }

        &:active {
            filter: brightness(0.9);
        }

        /* Low resolution tablets and large mobile 480px to 768px*/
        @media screen and (min-width: 480px) {
            width: 13rem;
            height: 3.5rem;
            font-size: 1.1rem;
        } /* 480px */

        /* High resolution tablets and small laptops 768px to 1024px*/
        @media screen and (min-width: 768px) {
            width: 15rem;
            height: 4rem;
            font-size: 1.3rem;
        } /* 768px */

        /* Laptop and desktop 1024px to 2560px*/
        @media screen and (min-width: 1024px) {
            width: 12rem;
            height: 3rem;
            font-size: 1.2rem;
        } /* 1024px */
    }

